header
        topbar
                .top
                    background-color: #070455
                    color: white
                    display: flex
                    justify-content: space-around

header  
      topbar
            .top
                .sign
                        ul
                            display: flex

                                            li
                                                margin-left: 5px