
header
        topbar
                .top
                    background-color: #070455
                    color: white
                    display: flex
                    justify-content: space-around
                    align-items: center

header  
      topbar
            .top
                .sign
                        ul
                            display: flex
                            list-style: none
header
        topbar 
                ul
                    li
                        font-size: 10px
                        color: #747474
                        margin-left: 20px

section
        #one
                div
                    text-align: center
                    padding: 100px 0
section
        #one 
                div 
                    ul
                        list-style: none
section
        #one    
                ul 
                    li
                        &:first-child
                                        font-size: 2em
section
        #one    
                ul 
                    li
                        &:nth-child(2)
                            
                                        font-size: 2em
section
        #one    
                ul 
                    li
                        &:nth-child(3)
                            
                                        font-size: 10px
                                        

