body
    margin: 0
header
        topbar
                .top
                    background-color: #070455
                    color: white
                    display: flex
                    justify-content: space-around
                    align-items: center

header  
      topbar
            .top
                .sign
                        ul
                            display: flex
                            list-style: none
header
        topbar 
                ul
                    li
                        font-size: 10px
                        color: #747474
                        margin-left: 20px

section
        #one
                div
                    text-align: center
                    padding: 100px 0
                    background-color: #0439cb
section
        #one 
                div 
                    ul
                        list-style: none
                        color: white

section
        #one    
                ul 
                    li
                        &:first-child
                                        font-size: 2em
                                        font-weight: bold
section
        #one    
                ul 
                    li
                        &:nth-child(2)
                            
                                        font-size: 20px
                                        font-weight: bold
                                        margin-bottom: 20px
section
        #one    
                ul 
                    li
                        &:nth-child(3)
                            
                                        font-size: 10px
                                        padding: 10px
                                        background-color: #dd16d6
                                        width: 80px
                                        border-radius: 30px
            
                                        margin: auto

section
        #two
               display: flex
               justify-content: center
section
        #two
                div
                        margin-top: 20px
                        margin-left: 70px
                        width: 300px
                        display: flex
                        align-items: center
section
        #two
            div
                ul
                    list-style: none
section
        #two
                div
                        ul
                                li  
                                    &:first-child
                                                    font-weight: bold
                                                    font-size: 20px
section
        #two
                div
                    &:nth-child(2)
                                    img
                                            border-radius: 50%
                                            width: 300px

section
        #twoa
               display: flex
               justify-content: center
section
        #twoa
                div
                        margin-top: 100px
                        margin-left: 70px
                        width: 300px
                        display: flex
                        align-items: center
section
        #twoa
            div
                ul
                    list-style: none
section
        #twoa
                div
                        ul
                                li  
                                    &:first-child
                                                    font-weight: bold
                                                    font-size:25px
section
        #twoa
                div
                    &:nth-child(2)
                                    img
                                            border-radius: 50%
                                            width: 300px

section
        #twoab
               display: flex
               justify-content: center
section
        #twoab
                div
                        margin-top: 100px
                        margin-left: 70px
                        width: 300px
                        display: flex
                        align-items: center
section
        #twoab
            div
                ul
                    list-style: none
section
        #twoab
                div
                        ul
                                li  
                                    &:first-child
                                                    font-weight: bold
                                                    font-size:25px
section
        #twoab
                div
                    &:nth-child(1)
                                    img
                                            border-radius: 50%
                                            width: 300px
